# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
test-env/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / Packaging
dist/
build/
*.egg-info/

# Environments
.env
.video_feed_env/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Models (Auto-downloaded)
*.pt
*.onnx

# Logs
*.log
